body {
	font-family: Commissioner;
	background-image: url("images/image-hero-desktop.jpg");
	background-repeat: no-repeat;
	background-size: 100vw;
	padding: 0;
	margin: 0;
}

.modal-noscroll {
    overflow: hidden;
}

h1 {
	font-size: 28px;
	font-weight: bold;
	margin: 0;
}

h2 {
	font-size: 20px;
}
p {
	font-size: 15px;
	color: hsl(0, 0%, 48%);	
}

/* NAVBAR STUFF */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center ;
	max-width: 1160px;
	margin: 50px auto;
	flex-wrap: wrap;
	z-index: 999;
}

.logo-and-mobilemenu {
	display: flex;
	flex-direction: row;
}

nav {
	z-index: 300 !important;
}

.logobox {
	font-weight: bold;
	font-size: 26px;
	color: white;
	margin-left: 25px;
	z-index: 103;
}

.menu-button {
	background-image: url("images/icon-hamburger.svg");
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	display: none;
	height: 15px;
	width: 15px;
	z-index: 102;
}

nav a{
	color: white;
	text-decoration: none;
	padding-left: 30px;
	font-size: 13px;
}

.navigationlinks {
	display: flex;
	list-style: none;
	margin-right: 25px;
}

nav a:hover{
	text-decoration: underline;
}




.project-container {
	margin: 15% auto 120px auto;
	max-width: 780px;
	padding-left: 25px;
	padding-right: 25px;
}

.project-thumbnail {
	width: 57px;
	aspect-ratio: 1;
	margin-right: auto;
	margin-left: auto;
	margin-top: -80px;
}

/* TITLE BOX STUFF */

.content-box {
	max-width: 100%;
	background-color: white;
	border-radius: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: lightgrey;
	padding: 50px;
	margin-bottom: 25px;
}



.title-content {
	text-align: center;
	margin-top: 24px;
	margin-bottom: 40px;
}

.title-heading {
	margin-bottom: 15px;
}

.title-subhead {
	font-size: 16px;
	color: hsl(0, 0%, 48%);
}

.title-buttons {
	display: flex;
	justify-content: space-between;
}

.back-project {
	background-color: hsl(176, 50%, 47%);
	color: white;
	border-style: none;
	padding: 20px 40px;
	font-size: 16px;
	border-radius: 30px;
	transition: all 0.2s linear;
}

.back-project:hover {
	background-color: hsl(176, 72%, 28%);
	transition: all 0.2s linear;
	cursor: pointer;
}

.bookmark-button-div {
	display: flex;
	filter: grayscale(100%);
	opacity: 100%;
	transition: 0.3s;

}

.bookmark-button-div:hover {
	opacity: 80%;
	cursor: pointer;
	transition: 0.3s;
}


.bookmarked {
	filter: grayscale(0%);
	opacity: 100%;
	transition: 0.3s;	
}

.bookmarked:hover{
	opacity: 60%;
	transition: 0.3s;
}



.bookmark-button-image-div {
	height: 58px;
	aspect-ratio: 1;
	background-color: transparent;
	border-style: none;
	margin-right: -40px;
	position: relative;
	z-index: 3;
}

.bookmark-button-text-div {
	background-color: hsl(192, 29%, 97%);
	color: hsl(176, 72%, 28%);
	border-style: none;
	padding: 20px 20px 20px 60px;
	font-size: 16px;
	border-radius: 30px;
	font-weight: bold;	
	position: relative;
	z-index: 2;
	display: block;
}






.numbers-boxes {
	display: flex;
	flex-direction: row;
}

.money-stats {
	padding-right: 50px;
	border-right: lightgrey 1px solid;
}

.amount-raised {
	font-size: 32px;
	font-weight: bold;
}

.backer-stats {
	padding-left: 50px;
	padding-right: 50px;
	border-right: lightgrey 1px solid;
}

.number-of-backers {
	font-size: 32px;
	font-weight: bold;
}

.countdown-stats {
	padding-left: 50px;
	padding-right: 50px;
}

.days-left {
	font-size: 32px;
	font-weight: bold;
}

.stats-subhead {
	font-size: 15px;
	color: hsl(0, 0%, 48%);
	margin-top: 10px;
}



/* SLIDER+PROGRESS BAR STYLING*/


.money-meter {
	margin-top: 40px;
}

.progress-slider-container {
	margin-top: -19px;
}

@-moz-document url-prefix() {
	.progress-slider-container {
		margin-top: -20px;
	}
}


.money-progress-bar {
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 100%;
	height:  12px;
	background: hsl(0, 0%, 96%);
	border-radius: 10px;

}

.money-progress-bar::-moz-range-track {
	-moz-appearance: none;
	position: relative;
}	

.progress-money-progress-bar {
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 0;
	height:  12px;
	background: hsl(176, 50%, 47%);
	border-radius: 10px;
	align-items: left;
	position: relative;
	z-index: 8;	
}



.progress-money-progress-bar::-webkit-slider-thumb {
	display: none;
}

.progress-money-progress-bar::-moz-range-thumb {
	visibility: hidden;

}

.money-progress-bar::-webkit-slider-thumb {
	display: none;
}

.money-progress-bar::-moz-range-thumb {
	visibility: hidden;
}


.about-description-text {
	margin-bottom: 40px;
}


/*Pledge Box*/

.pledge-option-box {
	max-width: 100%;
	background-color: white;
	border-radius: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: lightgrey;
	padding: 40px 30px;
	margin-bottom: 25px;
}

.pledge-header {
	display: flex;
	justify-content: space-between;
}


.pledge-name {
	font-size: 18px;
	font-weight: bold;
}

.pledge-amount {
	font-size: 15px;
	color: hsl(176, 50%, 47%);
}

.remaining-pledges {
	font-size: 32px;
	font-weight: bold;
}

.pledge-description {
	margin-top: 30px;
	margin-bottom: 30px;
}

.pledge-footer {
	display: flex;
	justify-content: space-between;	
}


.out-of-stock {
	opacity: 0.4;
}


.pledge-button {
	background-color: hsl(176, 50%, 47%);
	color: white;
	border-style: none;
	padding: 15px 30px;
	font-size: 14px;
	border-radius: 30px;
	font-weight: bold;	
	position: relative;
	z-index: 2;
	display: block;
	transition: 0.3s;
}

.pledge-button:hover {
	background-color: hsl(176, 72%, 28%);
	color: white;
	cursor: pointer;
	transition: 0.3s;
}

.pledge-button:disabled {
	background-color: grey;
	color: white;
}

.pledge-button:disabled:hover {
	cursor: default;
}

button:disabled {
	background-color: grey;
	color: white;
}

button:disabled:hover {
	cursor: default;
	background-color: grey;
}


/*PLEDGE MODAL*/

.modal-background {
	background-color: hsla(0, 0%, 0%, 0.3);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	margin-top: auto;
	overflow: auto;
	z-index: 9980;
	display: none;	
}


.selection-modal-container {
	max-width: 780px;
	background-color: white;
	margin: 5% auto;
	border-radius: 10px;
	padding: 50px;
	display: none;
}

.close-btn {
	font-size: 32px;
	display: flex;
	justify-content: flex-end;
	margin-top: -30px;
	margin-right: -10px;
	opacity: 0.4;
	transition: 0.3s;
}
.close-btn:hover{
	cursor: pointer;
	opacity: 1;
	transition: 0.3s;
}


.selection-modal-header{
	margin-bottom: 40px;
}

.selection-modal-header-heading {
	font-size: 25px;
	font-weight: bold;
}




.pledge-selection-box {
	max-width: 100%;
	background-color: white;
	border-radius: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: lightgrey;
	padding: 30px;
	margin-top: 10px;
	margin-bottom: 25px;
	display: flex;
	flex-direction: column;
	transition: 0.3s;
}

.pledge-selection-box:hover{
	border-color: hsla(176, 50%, 47%, 80%);
	transition: 0.3s;
	cursor: pointer;
}


.pledge-selection-top-half {
	display: flex;

}

.pledge-selection-top-half-headingfullrowwrap{
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}

.pledge-selection-info{

}

.radio-icon {
	margin-right: 25px;
}

.pledge-selection-heading {
	font-size: 16px;
	font-weight: bold;
}

.pledge-selection-amount-detail {
	font-size: 16px;
	font-weight: bold;
	color: hsl(176, 72%, 28%);	
	margin-left: 20px ;
}


.pledge-selection-footer {
	border-top: 1px lightgrey solid;
	margin-top: 30px;
	padding-top: 30px;
	display: none;
	justify-content: space-between;
}

.submit-cluster {
	display: flex;
}


.amount-input-wrap {
	display: flex;
	align-items: stretch;
	justify-content: center;
	border-radius: 30px;
	border: 1px hsl(176, 50%, 47%) solid ;
	padding: 15px 20px;
	margin-right: 20px;
}

.amount-input-dollar-sign{
	font-size: 16px;
	color: hsl(0, 0%, 48%);
}

.pledge-amount-style::-webkit-outer-spin-button,
.pledge-amount-style::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pledge-amount-style{
  -moz-appearance: textfield;
  max-width: 30px;
  border-style: none;
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;
}

.figure-bold{
	font-weight: bold;
	color: black;
}

.pledge-amount-style:focus{
	outline: 0;
}

.pledge-submit-button{
	background-color: hsl(176, 50%, 47%);
	color: white;
	border-style: none;
	padding: 15px 20px;
	border-radius: 30px;
	font-size: 14px;
	font-weight: bold;
	transition: 0.3s;
}

.pledge-submit-button:hover{
	background-color: hsl(176, 72%, 28%);
	color: white;
	cursor: pointer;
	transition: 0.3s;
}


.highlight-box {
	border: 2px hsl(176, 50%, 47%) solid;

}




.pledge-selection-remaining{
	color: hsl(0, 0%, 48%);
}

.pledge-selection-top-half-headingwrap{
	display: flex;

}





/*SUCCESS MODAL*/

.success-modal-container{
	max-width: 500px;
	background-color: white;
	margin: 15% auto;
	border-radius: 10px;
	padding: 50px;
	display: none;
	flex-direction: column;

}

.succes-icon, .success-heading, .success-body, .success-done-button{
	text-align: center;
	margin: 0 20px;
}

.success-heading{
	font-size: 24px;
	font-weight: bold;
	margin-top: 40px;
}

.successbuttondiv{
	margin: 20px auto ;
}

.success-done-button{
	background-color: hsl(176, 50%, 47%);
	color: white;
	border-style: none;
	padding: 15px 20px;
	border-radius: 30px;
	font-size: 14px;
	font-weight: bold;
	transition: 0.3s;
}

.success-done-button:hover{
	background-color: hsl(176, 72%, 28%);
	color: white;
	cursor: pointer;
	transition: 0.3s;
}



/* MOBILE VIEW */

@media (max-width: 500px) {

	body {
		background-image: url("images/image-hero-mobile.jpg");
	}

	.navigationlinks {
		flex-direction: column;
		background-color: white;
		padding-left: 0px;
		border-radius: 10px;
		margin-right: 0;
		opacity: 0;
		transform:  scale(1, 0);
		transform-origin: top;
		overflow: hidden;
		transition: transform 100ms ease, opacity 200ms linear;		
		
	}

	.openmenu {
		opacity: 1;
		transform:  scale(1, 1);
		transform-origin: top;
		transition: transform 250ms ease, opacity 350ms linear;
	}



		.shadow-overlay {
			background-color: black;
			opacity: 0;
			position: absolute;
			min-height: 100vh;
			min-width: 100vw;
			padding: 0;
			margin-top: -25px;
			overflow: hidden;
			z-index: 10;
			transition: opacity 80ms linear;
			position: fixed;
			display: none;
		}

		.darken {
			opacity: 0.2;
			transition: opacity 80ms linear;
		}



	nav a {
		color: black;
		font-size: 18px;


	}

	nav > ul > li {
		padding-top: 25px;
		padding-bottom: 25px;
		border-bottom: 1px solid lightgrey;


	}

	nav > ul > li:last-child {
		border-bottom: none;
	}



	.navbar {
		margin: 25px 25px;
		align-items: flex-start;
		max-width: 100%;
		justify-content: center;
		flex-wrap: nowrap;
		flex-direction: column;
		z-index: 150;

	}



	nav {
		width: 100%;

	}


	.logobox {
		margin-left: 0;
	}



	.logo-and-mobilemenu {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		z-index: 104;

	}

	.menu-button {
		display: block;
	}

	.openstate {
		background-image: url('images/icon-close-menu.svg');
		z-index: 980;
	}




	.project-container {
		margin-top: -30%;
	}

	.bookmark-button-text-div {
		display: none;
	}

	.bookmark-button-image-div {
		margin-right: 0;
	}







	.numbers-boxes {
		flex-direction: column;
	}

	.money-stats {
		padding-right: 0;
		padding-bottom: 30px;
		border-right: none;	
	}

	.money-stats:after {
		content: "";
		display: block;
		margin: 0 auto;
		width: 25%;
		padding-top: 25px;
		border-bottom: 1px solid lightgrey;
	}	

	.amount-raised {
		text-align: center;
	}


	.backer-stats {
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 30px;
		border-right: none;
	}


	.backer-stats:after {
		content: "";
		display: block;
		margin: 0 auto;
		width: 25%;
		padding-top: 25px;
		border-bottom: 1px solid lightgrey;
	}

	.number-of-backers {
		text-align: center;
	}

	.countdown-stats {
		padding-left: 0;
		padding-right: 0;
	}

	.days-left {
		text-align: center;
	}

	.stats-subhead {
		text-align: center;
	}


}









